// fonts
$project-font: "Space Mono";

// font-size
$font-size: 15px;

// line height
$line-height: 25px;

// container width
$container-width: 1150px;

// main yeloow color

$main-yellow-color: #fcb72b;

// main dark color

$main-dark-color: #495567;

// main dim grey color

$main-grey-color: #939caa;

// main light grey color

$main-light-grey-color: #e5ecf4;

// snow color

$snow-color: #f2f5f9;

// light yellow color

$light-yellow: #fff4df;
